<!DOCTYPE html>
<html>
<head>
  <title>Shopmium Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopmium shops</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "list of shops",  root_path  %></li>
      <li><%= link_to "near of me", shops_search_path  %></li>
      <li><%= link_to "you know another one ?", new_shop_path  %></li>
    </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
